@import 'scss/reset';


$body_color: #e2e1e1da;
$comment_form: #f9f9f9; //rgba(249, 249, 249, 0.7);
$comment_bkg: #fafafa;
$focus_color: #007bff;
$focus_box: rgba(0, 123, 255, 0.5);
$button_blue: #007bff;
$button_blue_hover: #0056b3;
$button_red: #dc3545;
$button_red_hover: #c82333;
$button_green: #28a745;
$button_green_hover: #218838;

:root {
    --body-color-var: #{$body-color};
    --comment-form-bkg: #{$comment_form};
    --comment-bkg-var: #{$comment_bkg};
    --focus-color-var: #{$focus_color};
    --focus-box-var: #{$focus_box};
    --button-blue-bkg: #{$button_blue};
    --button-blue-hover: #{$button_blue_hover};
    --button-red-bkg: #{$button_red};
    --button-red-hover: #{$button_red_hover};
    --button-green-bkg: #{$button_green};
    --button-green-hover: #{$button_green_hover};
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--body-color-var);
}

h2 {
    font-size: 2rem;
    margin: 0 0 20px;
    color: black;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.page-wrapper {
    overflow: hidden;
}

.comments__container {
    margin: 50px auto 40px;
    width: calc( 100% - 40px);
    max-width: 1200px;
    padding: 1.5rem;
    background: linear-gradient(135deg, #0076c0, #00a5e5, #ffffff);
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .comment__form {
        margin: 0 auto;
        padding: 20px;
        background-color: var(--comment-form-bkg);
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 999;

        input {
            width: 100%;
            margin-bottom: 10px;
        }

        textarea {
            width: 100%;
            margin-bottom: 10px;
            resize: vertical;
            line-height: 1.6;
            background-color: var(--comment-bkg-var);
            min-height: 150px;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            font-size: 1em;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            color: #333;
            box-sizing: border-box;
            transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            &:focus {
                outline: none;
                border-color: var(--focus-color-var);
                box-shadow: 0 0 5px var(--focus-box-var);
            }
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            font-size: 1.2em;
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        button[type="submit"] {
            padding: 10px 20px;
            font-size: 1.2em;
            background-color: var(--button-blue-bkg);
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            &:hover {
                background-color: var(--button-blue-hover);
            }
        }
        button.deletePosts {
            padding: 10px 20px;
            font-size: 1.2em;
            background-color: var(--button-red-bkg);
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 20px;
            transition: background-color 0.3s ease-in-out;
            &:hover {
                background-color: var(--button-red-hover);
            }
        }

        button.toggle-button{
            padding: 10px 20px;
            font-size: 1.2em;
            background-color: var(--button-green-bkg);
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            &:hover {
                background-color: var(--button-green-hover);
            }
            &.visible {
                margin-top: 20px;
            }
        }

        small {
            font-size: 0.9em;
            color: #666;
            display: block;
            margin-top: 5px;
        }

    } //comment form

    .search__container {
        padding: 0 0 20px;

        .search__form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 20px;
            background-color: var(--comment-form-bkg);
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            font-family: Arial, sans-serif;

            input {
                width: 100%;
            }

            input[type="text"] {
                width: 100%;
                padding: 10px;
                font-size: 1em;
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: #fff;
                color: #333;
                box-sizing: border-box;
                transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                &:focus {
                    outline: none;
                    border-color: var(--focus-color-var);
                    box-shadow: 0 0 5px var(--focus-box-var);
                }
            }

            button[type="submit"] {
                padding: 10px 20px;
                margin-left: 20px;
                font-size: 1.2em;
                background-color: var(--button-blue-bkg);
                color: #fff;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
                &:hover {
                    background-color: var(--button-blue-hover);
                }
            }

            button[type="button"] {
                padding: 10px 20px;
                font-size: 1.2em;
                background-color: var(--button-red-bkg);
                color: #fff;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                margin-left: 20px;
                transition: background-color 0.3s ease-in-out;
                &:hover {
                    background-color: var(--button-red-hover);
                }
            }

        } //end search form

        .search__result {
            margin: 10px 0 0;
        }
    }

    @media only screen and (max-width: 1200px) {
        & {
            margin: 50px 20px 40px;
        }
	}
} //comments container



.comment__list {

    article {
        border: 1px solid black;
        border-radius: 5px;
        margin: 10px 0;
        padding: 10px 20px;
        background: rgba( 255, 255, 255, 1);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        opacity: 0.8;

        p {
            margin: 0 0 10px;
        }

        .comment_author {
            font-style: italic;
            text-transform: capitalize;
            font-size: 1rem;
            margin-bottom: 10px;
        }

        .comment_separator {
            margin: 0 5px;
        }

        .comment_date {
            font-weight: bold;
            font-size: 0.9rem;
        }

    } // article

} //comment list
