@import 'scss/reset';

$accent-color: #fbbc04;

:root {

  // RIGHT, will work in all Sass versions.
  --accent-color-right: #{$accent-color};
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    //background: url('./images/tile-bkg4.png');
    //background-position: center center;
    //background-repeat: repeat;
    //background-size: 10em;
    background-color: #e2e1e1da;
}

.page-wrapper {
    overflow: hidden;
}

.comments__container {
    margin: 50px auto 40px;
    width: calc( 100% - 40px);
    /* height: 100%; */
    max-width: 1200px;

    .comment__form {

        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        position: fixed;
        bottom: 10px;
        left: 10px;

        input {
            width: 100%;
            margin-bottom: 10px;
        }

        textarea {
            width: 100%;
            margin-bottom: 10px;
            resize: vertical;
            line-height: 1.6;
            font-family: "Courier New", Courier, monospace;
            background-color: #fafafa;
            min-height: 150px;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            font-size: 1em;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            color: #333;
            box-sizing: border-box;
            transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            &:focus {
                outline: none;
                border-color: #007bff;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            font-size: 1.2em;
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        button.toggle-button{
            padding: 10px 20px;
            font-size: 1.2em;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            //margin-bottom: 20px;
            &:hover {
                background-color: #218838;
            }
            &.visible {
                margin-bottom: 20px;
            }
        }



        small {
            font-size: 0.9em;
            color: #666;
            display: block;
            margin-top: 5px;
        }

    }

}



.comment__list {
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    article {
       border: 1px solid black;
       border-radius: 5px;
       margin: 10px 0;
       padding: 10px 20px;
       background: white;
    }

}

/* Screen Reader Only Text */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~~~~~MEDIA QUERIES~~~~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	@media only screen and ( min-width: 1100px ) and ( max-width: 1405px) {

	}

	@media only screen and ( min-width: 981px ) {

	}

	@media only screen and (max-width: 1200px) {
        .comments__container {
            margin: 50px 20px 40px;
        }
	}

	@media only screen and (max-width: 980px) {

	}

	@media only screen and ( max-width: 783px ) {

	}

	@media only screen and ( max-width: 768px ) {

	}

	@media only screen and (max-width: 665px) {


	}

    @media only screen and (max-width: 575px) {

    }

	@media only screen and (max-width: 479px) {

	}

	/* Responsive CSS */

	/* Tablets */
	@media (max-width: 767px){

	}

	/*==================================================
	=            Bootstrap 3 Media Queries             =
	==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }